{
  "presets": ["es2015", "stage-2"],
//  "presets": ["es2015", { "modules": false }, "stage-2"],
  "plugins": [
    "transform-runtime",
    "transform-vue-jsx",
    ["component", [
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-default"
      }
    ]]
  ],
  "comments": false
}
